/* Genel stil ayarları */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sayfa arka planı ve genel düzen */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Giriş formu için ana konteyner */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 600px; /* Genişliği %100 yapalım, daha esnek olacak */
  padding: 0 20px; /* Mobilde biraz boşluk eklemek için padding */
  background: #f1f1f1;
  border-radius: 100px;
}

/* Giriş kartı */
.login-card {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px; /* Genişliği artırdım */
  text-align: center;
  border-radius: 25px;
}

/* Başlık */
.login-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #262626;
}

/* Input alanları */
.input-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  color: #262626;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 25px;
}

.input-field:focus {
  border-color: #0095f6;
  outline: none;
}

.is-invalid {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

/* Giriş butonu */
.login-btn {
  width: 100%;
  padding: 14px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 25px;
  font-size: 20px;
}

.login-btn:hover {
  background-color: #007bb5;
}

/* Bölücü satır */
.divider {
  margin: 15px 0;
  font-size: 14px;
  color: #a7a7a7;
}

/* Mobil uyum */
@media (max-width: 500px) {
  .login-container {
    width: 100%; /* Mobilde genişliği %100 yapıyoruz */
    padding: 0 15px; /* Kenarlarda boşluk bırakıyoruz */
    border-radius: 0; /* Mobilde border-radius sıfırlanabilir */
  }

  .login-card {
    padding: 20px;
    max-width: 100%;
  }

  .login-title {
    font-size: 28px;
  }

  .input-group {
    margin-bottom: 20px;
  }
}
